<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="materialize.scss.scss">
  <link rel="stylesheet" href="common.scss">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<body>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @student.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @student.email %>
    </p>

    <p>
      <strong>Section:</strong>
      <%= @student.section.name %>
    </p>
    <a class="waves-effect waves-light btn btn-block "<%= link_to 'Edit', edit_student_path(@student) %></a>
    <a class="waves-effect waves-light btn btn-block "<%= link_to 'Back', students_path %></a>
  </div>
</body>


